-content_for :head do
  = stylesheet_link_tag "perfil.css"

.container-fluid.top_perfil
  .container
    .row
      .col-md-12.perfil
        .col-md-3.avatar-perfil
          -if current_user.picture.file?
            %a{:href => "#"}
              =image_tag(current_user.picture.url(:medium))
          -else
            =image_tag("user_missing_medium.png")
            
        .col-md-9
          .row
            %h2="#{current_user.name} #{current_user.last_name}"
            - if current_user.services_performed.present?
              %p="#{current_user.services_performed}" 
          .row
            %a{:href => "#"}
              =image_tag("btn-editar-perfil.png")
.container-fluid.dados_perfil
  .container
    .row
      .col-md-6
        .dados_perfil_esquerda
          .row
            %h1 O que há de novo no Training Society?
            -@feed.each do |f|
              -if f.object_type == "post"
                =render partial: "feed_post", locals: {feed: f}
        /.dados_perfil_esquerda
        /  .row
        /    .news_perfil
        /      .row
        /        .col-md-2
        /          =image_tag("avatar-news.png", :class => "img-responsive")
        /        .col-md-10
        /          %h5 Maria Aparecida da Silva
        /          %h6 Pesquisadora na empresa USP
        /      .row.news_content
        /        =image_tag("image-news.png", :class => "img-responsive")
        /        %h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum consectetur adipiscing elit. Aenean euismod bibendum
        /        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
        /        %a{:href => "#"} Continuar lendo
        /      .row.news_interacao
        /        .col-md-4
        /          %p
        /            %i.fa.fa-commenting-o{"aria-hidden" => "true"}
        /            10 comentários
        /          %button.btn.btn-especialidade{:type => "button"}
        /            %i.fa.fa-heart{"aria-hidden" => "true"}
        /            GOSTEI
        /        .col-md-8
        /          %p
        /            %i.fa.fa-heart{"aria-hidden" => "true"}
        /            25 pessoas gostaram deste artigo
        /      .row.news_comentario
        /        .col-md-2
        /          =image_tag("avatar-news.png")
        /        .col-md-10
        /          %h2 Maria Aparecida da Silva
        /          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
        /      .row.news_campo_comentario
        /        .col-md-2
        /          =image_tag("avatar-news.png")
        /          %img{:src => "img/avatar-news.png"}/
        /        .col-md-10
        /          %form
        /            %textarea
        /            %br/
        /            %a{:href => "#"} comentar
      .col-md-5.col-md-offset-1
        .dados_perfil_direita
          
          =render file: "layouts/widgets/_perfil_bar.html.haml"
          =render file: "layouts/widgets/_empresas.html.haml"
          =render file: "layouts/widgets/_ajude_nos.html.haml"
          =render file: "layouts/widgets/_mais_lidos.html.haml"
          =render file: "layouts/widgets/_wiki.html.haml"
          
          