.row
  %h1 Empresas em Destaque
  .bloco_empresas
    .row.empresas_destaque
      .logo_empresa.col-md-3
        =image_tag("logo-parceiro.jpg")
      .dados_empresa.col-md-9
        .row
          %h2 HP BRASIL
        .row
          %button.btn.btn-especialidade{:type => "button"} ESPECIALIDADE
          %button.btn.btn-especialidade{:type => "button"} ESPECIALIDADE
          %button.btn.btn-especialidade{:type => "button"} ESPECIALIDADE
        .row
          %i.fa.fa-circle{"aria-hidden" => "true"}
          %i.fa.fa-circle{"aria-hidden" => "true"}
          %i.fa.fa-circle{"aria-hidden" => "true"}
          %i.fa.fa-circle{"aria-hidden" => "true"}
          %i.fa.fa-circle-o{"aria-hidden" => "true"}
    .row.empresas_destaque
      .logo_empresa.col-md-3
        =image_tag("logo-parceiro.jpg")
      .dados_empresa.col-md-9
        .row
          %h2 HP BRASIL
        .row
          %button.btn.btn-especialidade{:type => "button"} ESPECIALIDADE
          %button.btn.btn-especialidade{:type => "button"} ESPECIALIDADE
          %button.btn.btn-especialidade{:type => "button"} ESPECIALIDADE
        .row
          %i.fa.fa-circle{"aria-hidden" => "true"}
          %i.fa.fa-circle{"aria-hidden" => "true"}
          %i.fa.fa-circle{"aria-hidden" => "true"}
          %i.fa.fa-circle{"aria-hidden" => "true"}
          %i.fa.fa-circle-o{"aria-hidden" => "true"}