.row
  .row
    %h1 mais lidos
  .row
    .mais_lidos
      .row.post_mais_lido
        .col-md-2
          =image_tag("avatar-news.png")
        .col-md-10
          %h2 Maria Aparecida da Silva
          %h3 Pesquisadora na empresa USP
          %a{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum consectetur adipiscing elit. Aenean euismod bibendum
      .row.post_mais_lido
        .col-md-2
          =image_tag("avatar-news.png")
        .col-md-10
          %h2 Maria Aparecida da Silva
          %h3 Pesquisadora na empresa USP
          %a{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum consectetur adipiscing elit. Aenean euismod bibendum
      .row.post_mais_lido
        .col-md-2
          =image_tag("avatar-news.png")
        .col-md-10
          %h2 Maria Aparecida da Silva
          %h3 Pesquisadora na empresa USP
          %a{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum consectetur adipiscing elit. Aenean euismod bibendum