-if current_user.profile_perc.to_i < 100
  .row
    %h1 Seu perfil está quase completo!
    .bloco_perfil_completo
      .row
        .progress
          .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "70", :role => "progressbar", :style => "width:#{current_user.profile_perc.to_i}%"}
            %span.sr-only 70%

      .row
        %h2 Por quê devo completar o meu perfil?
      .row
        %p Vale á pena completar seu perfil, assim você ganha acesso às atualizações do Training Society, fica por dentro dos conteúdos, além de receber em primeira mão os convites para nossos Eventos e Webinars, de acordo com sua área de preferência.
      .row
        %a.col-md-offset-3{:href => "#{edit_user_path(current_user.id)}"} completar o meu pefil