.row
  .btn_extras
    .row
      .col-md-4
        %a{:href => "/wiki"} acessar a wiki
      .col-md-8
        %h3
          %i.fa.fa-globe{"aria-hidden" => "true"}
          Ajude-nos a melhorar
    .row
      %p Na nossa Wiki você tem as definições dos termos mais utilizados na área de T&D, encontre os links e acesse a área de empresas e encontre os provedores de conteúdo na área que procura.