.row
  .btn_extras
    .row
      .col-md-4
        %a{:href => "#"} acessar a wiki
      .col-md-8
        %h3
          %i.fa.fa-globe{"aria-hidden" => "true"}
          Ajude-nos a melhorar
    .row
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.sum dolor sit amet, consectetur adipsum dolor sit amet,