.wiki
  %ul
    %li
      %a{:href => "/wiki/#"} #
    %li
      %a{:href => "/wiki/a"} a
    %li
      %a{:href => "/wiki/b"} b
    %li
      %a{:href => "/wiki/c"} c
    %li
      %a{:href => "/wiki/d"} d
    %li
      %a{:href => "/wiki/e"} e
    %li
      %a{:href => "/wiki/f"} f
    %li
      %a{:href => "/wiki/g"} g
    %li
      %a{:href => "/wiki/h"} h
    %li
      %a{:href => "/wiki/i"} i
    %li
      %a{:href => "/wiki/j"} j
    %li
      %a{:href => "/wiki/k"} k
    %li
      %a{:href => "/wiki/l"} l
    %li
      %a{:href => "/wiki/m"} m
    %li
      %a{:href => "/wiki/n"} n
    %li
      %a{:href => "/wiki/o"} o
    %li
      %a{:href => "/wiki/p"} p
    %li
      %a{:href => "/wiki/q"} q
    %li
      %a{:href => "/wiki/r"} r
    %li
      %a{:href => "/wiki/s"} s
    %li
      %a{:href => "/wiki/t"} t
    %li
      %a{:href => "/wiki/u"} u
    %li
      %a{:href => "/wiki/v"} v
    %li
      %a{:href => "/wiki/w"} w
    %li
      %a{:href => "/wiki/x"} x
    %li
      %a{:href => "/wiki/y"} y
    %li
      %a{:href => "/wiki/y"} z