-content_for :head do
  = stylesheet_link_tag "perfil.css"
  
              
.container-fluid.dados_perfil
  .container
    .row
      .col-md-6
        .dados_perfil_esquerda
          .row
            %h1 Wiki Training Society
            =render partial: "filter"
            .wiki_content
              .row
                %p Na nossa Wiki você tem as definições dos termos mais utilizados na área de T&D, encontre os links e acesse a área de empresas e encontre os provedores de conteúdo na área que procura.
              .row
                .col-md-1
                  %h1="#{params[:id].upcase}"
                .col-md-11
                  .linha_wiki  
              -@wikis.each do |w|
                .row
                  %h2=w.title
                  %p=w.description
                  - if w.enterprises.present?
                    %h4 Empresas relacionadas
                    %ul
                      -w.enterprises.each do |e|
                        %li=link_to(e.name, empresa_path(e),:style=>"float:none; font-size:13px;")
            
      .col-md-5.col-md-offset-1
        .dados_perfil_direita
          =render file: "layouts/widgets/_perfil_bar.html.haml"
          =render file: "layouts/widgets/_empresas.html.haml"
          =render file: "layouts/widgets/_ajude_nos.html.haml"
          =render file: "layouts/widgets/_mais_lidos.html.haml"