%section.content-header
  %h1
    Eventos
    %small Control panel
  %ol.breadcrumb
    %li
      %a{:href => "/admin"}
        %i.fa.fa-dashboard
        Home
    %li.active Eventos


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title Novo Evento
        / /.box-header
        / form start
        = render 'form'
      

      %p
        = link_to "Back to List", admin_organizations_path, :class => "btn btn-default"
