.col-md-3
  .dados_perfil_esquerda
    .row
      %h1 MElhore sua busca
      .filtros_empresa
        .row
          %h2 Filtros Ativos
          %button.btn.btn-especialidade{:type => "button"} Filtro 1
          %button.btn.btn-especialidade{:type => "button"} Filtro 2
          %button.btn.btn-especialidade{:type => "button"} Filtro 3
        .row
          %h2 Especialidade
          %a{:href => "#"} Especialidade 1
          %br/
          %a{:href => "#"} Especialidade 2
          %br/
          %a{:href => "#"} Especialidade 3
          %br/
          %a{:href => "#"} Especialidade 4
          
        .row
          %h2 Tags
          %a{:href => "#"} Especialidade 1
          %br/
          %a{:href => "#"} Especialidade 2
          %br/
          %a{:href => "#"} Especialidade 3
          %br/
          %a{:href => "#"} Especialidade 4
          
        .row
          %h2 Localidade
          %a{:href => "#"} Especialidade 1
          %br/
          %a{:href => "#"} Especialidade 2
          %br/
          %a{:href => "#"} Especialidade 3
          %br/
          %a{:href => "#"} Especialidade 4
      %img.img-responsive{:src => "/assets/anuncie1.png", :style => "margin-top:20px;margin-bottom:20px;"}/
      %img.img-responsive{:src => "/assets/anuncie2.png", :style => "margin-top:20px;margin-bottom:20px;"}/