@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i';
body{font-family: 'Open Sans', sans-serif;}

.top-bar{background:#18242f;min-height:67px;}
.logo{margin-top:10px;}
.input-login{margin-top:20px;height:20px;margin-right:10px;font-size:14px;color:#18242f;border-radius:3px;border:0px solid transparent;}
.btn-login{margin-top:20px;height:20px;background-color:#95c940;color:#fff;border-radius:3px;border:0px solid transparent;margin-bottom:10px;}

.home-block-01{padding-top:35px;}
.form-home-cadastro{background-color:#18242f;padding:35px !important;border-radius:25px;margin-top:35px;}
.form-home-cadastro label{color:#95c940;font-size:16px;}
.input-cadastro{color:#18242f;font-size:16px;height:28px;border-radius:3px;border:0px solid transparent;margin-bottom:5px;margin-top:5px;margin-left:20px;}
.form-home-cadastro p{text-align:center; color:#fff;}
.btn-cadastros{margin-bottom:10px;}

.home-block-02{background-image:url(/assets/bg-home-block02.png);background-position:top center;background-repeat:repeat-x;min-height:490px;}
.home-block-02-background{background-image:url(/assets/img-home-block02.png);background-position:right;background-repeat:no-repeat;}
.img-home-block02{margin-top:25px;text-transform:uppercase;}
.item-home{margin-bottom:20px;}
.home-block-02 h1{color:#fff;font-size:35px;text-transform:uppercase;}
.home-block-02 h2{color:#95c940;font-size:28px;text-transform:uppercase;margin-top:5px !important;}
.home-block-02 p{color:#fff;font-size:12px;}
.icon-home{float:left;margin-right:20px;}

.home-block-03{background-image:url(/assets/bg-home-block03.png);background-position:top left;background-repeat:no-repeat;min-height:520px;}
.img-home-block03{margin-top:25px;}
.item-home{margin-bottom:20px;}
.home-block-03 h1{color:#18242f;font-size:35px;text-transform:uppercase;text-align:right;}
.home-block-03 h2{color:#95c940;font-size:28px;text-transform:uppercase;text-align:right;margin-top:5px !important;}
.home-block-03 p{color:#18242f;font-size:12px;text-align:right;}
.icon-home-02{float:right;margin-left:20px;}

.home-block-04{min-height:220px; text-align:center;background-image:url(/assets/bg-title.png);background-position:top left;background-repeat:repeat-x;}
.home-block-04 h1{color:#18242f;font-size:35px;text-transform:uppercase;background-color:#fff;}

.home-block-05{min-height:150px;background-color:#18242f;}
.home-block-05 p{color:#fff;font-size:14px;text-transform:uppercase;margin-top:75px;}
.home-block-05 ul{list-style:none !important;margin-top:75px;}
.home-block-05 ul li{float:left;margin-left:5px;}
.home-block-05 ul li a{color:#fff;font-size:14px;text-transform:uppercase;text-decoration:none;}

