= form_for @admin_enterprise do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      Confira os campos marcados em vermelho.

  .box-body
    .form-group
      =t('activerecord.attributes.user.name')
      
      = f.text_field :name, :class => "form-control", :placeholder => "Preencha o nome"
    .form-group
      =t('activerecord.attributes.user.description')
      = f.text_area :description, :class => "form-control", :placeholder => "Preencha o e-mail"    
    
  .box-footer
    =f.submit "Salvar", :class => "btn btn-primary"