.row
  .col-sm-12.text-center
    %h2 Obrigado pela avaliação!
    %p
      Sua avaliação foi enviada com sucesso! Muito obrigado!
    
    %a{:href => "javascript:window.parent.location.reload();"}
      fechar